body {
  margin: 0;
   font-family: 'Lato', sans-serif;
	overflow-x: hidden;
}

a {
  text-decoration: none;
}

.container-fluid {
  width: auto;
  padding: 0;
  margin: 0;
}

.container-fluid h2{
 color: black;
    font-family: sans-serif;
}

.container-fluid h1{
    color: rgba(226,11,73,0.8);
}

.container-fluid span {
  color: rgba(226,11,73,0.8);
}

.container-fluid p{
    margin: 0 40px;
    font-family: sans-serif;
}

.extra-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
    background-color: whitesmoke;
}

.containerr {
  width: auto;
  padding: 20px 15px;
  margin: 0 23%;
  display: inline-block;
  flex-direction: row;
  
}

div.polar {
  float: left;
  border-radius: 25px;
  width: 80px;
  height: 80px;
  margin: 5px 5px 15px 20px;
  object-position: center;
  padding: 10px 10px 10px 10px;
  border: 0.5px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;    
}



img.a {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

img.b {
  display: inline-block;
  vertical-align: middle;
  padding: 20px 0px 0px 0px;
  height: 40%;
}

