* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	overflow-x: hidden;
}

ul, ol, a{
	list-style: none;
	text-decoration: none;
	color: rgb(51, 51, 51);
}

/* header dari sini */
header {
	display: flex;
	background-color: rgb(255, 255, 255);
	padding: 16px 0;
	color: rgb(51, 51, 51);
	align-items: center;
	justify-content: space-around;
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.075);
	position: fixed;
	width: 100%;
	z-index: 99;
}

header nav {
	display: flex;
}

.logo-container {
	display: flex;
	align-items: center;
}

.logo-container img{
	height: 40px;
}

.logo-container h4{
	font-size: 24px;
	letter-spacing: 2px;
	color: rgb(51, 51, 51);
}

nav {
	display: flex;
	list-style: none;
	width: 70%;
	/* border: 1px solid red; */
	justify-content: space-between;
	align-items: center;
}

nav ul {
	justify-content: space-between;
	width: 40%;
	display: flex;
}

nav ul a{
	font-size: 16px;
	font-weight: 400;
}

nav ul a:hover {
	color: salmon;
}

#toggle-mobile {
	display: none;
	z-index: 98;
}

.btn-group {
	/* border: 1px solid red; */
}

.btn{
	width: 16vh;
	height: 5vh;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}

.btn-sign-up {
	background-color: transparent;
	border: 1px solid salmon;
	color: salmon;
	border-radius: 5px;
}

.btn-sign-up:hover {
	background-color: rgb(247, 103, 88);
	color: white;
	box-shadow: 0 5px 10px rgba(250, 128, 114, 0.5);
}

.btn-sign-in {
	margin-left: 15px;
	background-color: salmon;
	border-radius: 5px;
	border: none;
	color: white;
}

.btn-sign-in:hover {
	background-color: rgb(247, 103, 88);
	box-shadow: 0 5px 10px rgba(250, 128, 114, 0.5);
}

.menu-toggle button {
	display: none;
	width: 36px;
	height: 32px;
	border-radius: 5px;
}
.menu-toggle .fa-bars{
	font-size: 24px;
}

/* Home */
main {
	/* background-color: #F6F6F9; */
	height: 768px;
	padding-top: 128px;
	padding-left: 5%;
	padding-right: 5%;
}

.content{
	display: flex;
	margin-top: 68px;
}

.introduction{
	/* border: 1px solid red; */
	margin-right: 15px;
}

.intro-text h1{
	font-size: 48px;
	margin-bottom: 28px;
	color: rgb(51, 51, 51);
}

.intro-text p{
	font-size: 16px;
	line-height: 32px;
	margin-bottom: 32px;
	color: rgb(114, 114, 114);
}

.btn-call{
	background-color: rgba(238, 67, 116, 1);
	color: white;
	font-weight: bold;
	font-size: 16px;
	padding: 16px 48px;
	border: none;
}

.btn-call:hover{
	transition: all 0.3s ease 0s;
	background-color: rgba(226,11,73,0.8);
	box-shadow: 0 5px 30px rgba(238, 67, 116, 0.4);
}

.btn-gallery{
	margin-left: 16px;
	font-size: 16px;
	border: none;
	font-weight: 400;
	background-color: transparent;
	color: rgb(51, 51, 51);
	padding: 16px 48px;
}

.btn-gallery:hover{
	box-shadow: 0 5px 30px rgba(51, 51, 51, 0.199);
}

.cover {
	/* border: 1px solid red; */
	display: flex;
}
.img-front{
	margin-right: -199px;
	z-index: 1;
}
/* Ekstra 1 */
.tim-wrapper {
	background-color: #f7f7f7;
	text-align: center;
	height: 600px;
}

.container {
	max-width: 1170px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

.heading {
	padding: 10px 0;
	background-color: rgba(226,11,73,0.8);
	color: white;
}

.italic {
	font-style: italic;
}

.red {
	color: rgba(226,11,73,0.8);
}

.tim {
	margin: 30px 0;
}

.profil {
	width: 25%;
	float: left;	
}

.avatar img {
	height: 250px;
	margin-bottom: 25px; 
}

.role {
	margin-bottom: 25px;
}

.text-contents {	
	font-size: 10px;
	color: #b3aeb5;
	margin-bottom: 25px;
}
/* Ekstra 2 */


.container-fluid {
  width: auto;
  padding: 0;
  margin: 0;
}

.container-fluid h2{
 color: black;
    font-family: sans-serif;
}

.container-fluid h1{
    color: rgba(226,11,73,0.8);
}

.container-fluid span {
  color: rgba(226,11,73,0.8);
}

.container-fluid p{
    margin: 0 40px;
    font-family: sans-serif;
}

.extra-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
    background-color: whitesmoke;
}

.containerr {
  width: auto;
  padding: 20px 15px;
  margin: 0 23%;
  display: inline-block;
  flex-direction: row;
  
}

div.polar {
  float: left;
  border-radius: 25px;
  width: 80px;
  height: 80px;
  margin: 5px 5px 15px 20px;
  object-position: center;
  padding: 10px 10px 10px 10px;
  border: 0.5px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;    
}

img.a {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

img.b {
  display: inline-block;
  vertical-align: middle;
  padding: 20px 0px 0px 0px;
  height: 40%;
}


/* Footer */


/* Ukuran tablet puyer */
@media screen and (max-width: 900px) {
	#toggle-mobile {
		display: flex;
	}
	.menu-toggle button {
		display: block;
	}

	header {
		justify-content: space-between;
		padding: 16px 5%;
	}

	header nav {
	display: flex;
	}

	nav {
		position: absolute;
		right: 0;
		flex-direction: column;
		background-color: white;
		height: 100vh;
		width: 40%;
		top: 60px;
		align-items: center;
		justify-content: space-evenly;
		padding: 0 0 200px;
		box-shadow: -4px 0 20px rgba(0, 0, 0, 0.075);
		transform: translateX(100%);
		animation: slide-out 0.5s;
	}

	nav ul {
		flex-direction: column;
		height: 30vh;
		width: 80%;
	}

	.btn{
		width: 12vh;
		height: 4vh;
		font-size: 14px;
		font-weight: bold;
		cursor: pointer;
	}

	nav.active {
		transform: translateX(0);
		animation: slide-in 0.5s;
	}
}

/* Ukuran mobile */
@media screen and (max-width: 600px) {
	nav{
		width: 100%;
	}
}


/* animasi */
@keyframes slide-in {
	0% {
		transform: translateX(100%);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes slide-out {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(100%);
	}
}
