* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	overflow-x: hidden;
}

ul, ol, a{
	list-style: none;
	text-decoration: none;
	color: rgb(51, 51, 51);
}

/* header dari sini */
header {
	display: flex;
	background-color: rgb(255, 255, 255);
	padding: 16px 0;
	color: rgb(51, 51, 51);
	align-items: center;
	justify-content: space-around;
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.075);
	position: fixed;
	width: 100%;
	z-index: 99;
}

header nav {
	display: flex;
}

.logo-container {
	display: flex;
	align-items: center;
}

.logo-container img{
	height: 40px;
}

.logo-container h4{
	font-size: 24px;
	letter-spacing: 2px;
	color: rgb(51, 51, 51);
}

.top-wrapper{
	background-image:url(https://static.wixstatic.com/media/4d07d1_a1590d625fd14c879d035051c65aa2d1~mv2.jpeg/v1/fill/w_630,h_420,al_c,q_80,usm_0.66_1.00_0.01/4d07d1_a1590d625fd14c879d035051c65aa2d1~mv2.webp);
	background-size:cover;
	color:white;
	padding-top:  180px;
	padding-bottom:210px;
	text-align:right;
  }
  .container{
	width:1170px;
	margin-left:auto;
	margin-right:auto;
	padding-left:10px;
	padding-right:10px;
  }
  /*.container h1{
	padding-bottom:10px;
  }*/
  .top-wrapper h1{
	font-size:45px;
	letter-spacing:5px;
	margin-bottom:10px;
	/*opacity:0.7;*/ 
  }
  .top-wrapper h2{
	opacity:o.7;
	margin-bottom:3px;
  }
  .top-wrapper p{
	opacity:0.7;
  }

nav {
	display: flex;
	list-style: none;
	width: 70%;
	/* border: 1px solid red; */
	justify-content: space-between;
	align-items: center;
}

nav ul {
	justify-content: space-between;
	width: 40%;
	display: flex;
}

nav ul a{
	font-size: 16px;
	font-weight: 400;
}

nav ul a:hover {
	color: salmon;
}

#toggle-mobile {
	display: none;
	z-index: 98;
}

.btn{
	width: 16vh;
	height: 5vh;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}

.btn-sign-up {
	background-color: transparent;
	border: 1px solid salmon;
	color: salmon;
	border-radius: 5px;
}

.btn-sign-up:hover {
	background-color: rgb(247, 103, 88);
	color: white;
	box-shadow: 0 5px 10px rgba(250, 128, 114, 0.5);
}

.btn-sign-in {
	margin-left: 15px;
	background-color: salmon;
	border-radius: 5px;
	border: none;
	color: white;
}

.btn-sign-in:hover {
	background-color: rgb(247, 103, 88);
	box-shadow: 0 5px 10px rgba(250, 128, 114, 0.5);
}

.menu-toggle button {
	display: none;
	width: 36px;
	height: 32px;
	border-radius: 5px;
}
.menu-toggle .fa-bars{
	font-size: 24px;
}

/* Home */
main {
	/* background-color: #F6F6F9; */
	height: 688px;
	padding-top: 128px;
	padding-left: 5%;
	padding-right: 5%;
}

.content{
	display: flex;
	margin-top: 40px;
}

.introduction{
	/* border: 1px solid red; */
	margin-right: 15px;
}

.intro-text h1{
	font-size: 48px;
	margin-bottom: 28px;
	color: rgb(51, 51, 51);
}

.intro-text p{
	font-size: 16px;
	line-height: 32px;
	margin-bottom: 32px;
	color: rgb(114, 114, 114);
}

.btn-call{
	margin-left: 15px;
	background-color: rgba(250,128,114,1.0);
	border-radius: 5px;
	border: none;
	color: white;
	margin-right: 16px;
	height: 8vh;
	width: 24vh;
}

.btn-call:hover{
	box-shadow: 0 5px 10px rgba(250,128,114,0.5);
}

.btn-gallery{
	height: 8vh;
	width: 24vh;
	border: none;
	color: rgb(114, 114, 114);
	border-radius: 5px;
}

.btn-gallery:hover{
	box-shadow: 0 5px 10px rgb(114, 114, 114, 0.3);
}

.cover {
	/* border: 1px solid red; */
	display: flex;
	justify-content: center;
}
.img-front{
	margin-right: -199px;
	z-index: 1;
	animation: img-front 1s ease;
}

.img-back {
	animation: img-back 1s ease;
}
/* Ekstra 1 */
.heading {
	padding: 10px 0;
	background-color: rgba(226,11,73,0.8);
	color: white;
	text-align: center;
	margin-bottom: 20px;
}

.container {
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
	justify-content: center;
}  

.profil {
	margin: 5px;
	flex: auto;
	width: 100%;
	text-align: center;
}

.profil img {
	width: auto;
	height: 200px;
}

.profil h3 {
	margin-bottom: 5px;
}

.italic {
	font-style: italic;
}

.red {
	color: rgba(226,11,73,0.8);
}

.profil p {	
	color: #b3aeb5;
	margin: 0 auto;
}


/* Ekstra 2 */
.container-fluid {
  width: auto;
  padding: 0;
  margin: 0;
}

.container-fluid h2{
 color: white;
    font-family: sans-serif;
}

.container-fluid h1{
    color: rgba(226,11,73,0.8);
}

.container-fluid span {
	color: rgba(226,11,73,0.8);
}

.container-fluid p{
    margin: 0 40px;
    /* font-family: sans-serif; */
}

.extra-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
	background-color: whitesmoke;
	margin-top: 32px;
}

.containerr {
  width: auto;
  padding: 20px 15px;
  margin: 0 23%;
  display: inline-block;
  flex-direction: row;
  
}

div.polar {
  float: left;
  border-radius: 25px;
  width: 80px;
  height: 80px;
  margin: 5px 5px 15px 20px;
  object-position: center;
  padding: 10px 10px 10px 10px;
  border: 0.5px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;    
}

img.a {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

img.b {
  display: inline-block;
  vertical-align: middle;
  margin-top: 20px;
  height: 40%;
}


/* Footer */
footer {
    display: block;
  	background-color: white;
 	border-top: 1px solid #eee;
  	height: 55px;
	width: 100%;
  	padding-top: 20px;
  	padding-bottom: 20px;
	padding-left: 10%;
	padding-right: 10%;
 	font-size: 13px;
}

.left-footer {
  float: left;
}

.right-footer {
  float: right;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline-item {
  display: inline-block;
}

.list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}

/* Ukuran tablet puyer */
@media screen and (max-width: 900px) {
	#toggle-mobile {
		display: flex;
	}
	.menu-toggle button {
		display: block;
	}

	header {
		justify-content: space-between;
		padding: 16px 5%;
	}

	header nav {
	display: flex;
	}

	nav {
		position: absolute;
		right: 0;
		flex-direction: column;
		background-color: white;
		height: 100vh;
		width: 40%;
		top: 60px;
		align-items: center;
		justify-content: space-evenly;
		padding: 0 0 200px;
		box-shadow: -4px 0 20px rgba(0, 0, 0, 0.075);
		transform: translateX(100%);
		animation: slide-out 0.5s;
	}

	nav ul {
		flex-direction: column;
		height: 30vh;
		width: 80%;
	}

	.btn{
		width: 12vh;
		height: 4vh;
		font-size: 14px;
		font-weight: bold;
		cursor: pointer;
	}

	nav.active {
		transform: translateX(0);
		animation: slide-in 0.5s;
	}

  footer {
    font-size:12px;
    text-align: center;
	}
  .left-footer{
  	float:none;
  	padding-bottom: 10px;
  	}
  .right-footer{
  	float:none;
	padding-bottom: 10px;
	 }
	
	 main {
		 height: 1024px;
	 }

	 .img-back{
		 transform: scale(0.8);
	 }

	 .img-front{
		 transform: scale(0.8);
	 }

	 .intro-text h1{
		 font-size: 32px;
	 }

	 .introduction p{
		 font-size: 14px;
	 }
	 
	 .content {
		 flex-direction: column;
	 }
}

@media( min-width: 600px ) {
	.container {
		display: flex;
		flex-wrap: wrap;
		align-item: baseline;
	}
	
	.profil {
		width: 30%;
	}

	.btn-call {
		width: 18vh;
		height: 6vh;
	}

	.btn-gallery {
		width: 18vh;
		height: 6vh;
	}
}

/* Ukuran mobile */
@media screen and (max-width: 600px) {
	nav{
		width: 100%;
	}

  footer {
    font-size:11px;
    text-align: center;
	}
  .left-footer{
  	float:none;
  	padding-bottom: 10px;
  	} 
  .right-footer{
  	float:none;
	padding-bottom: 10px;
	 }
	 
	 .btn-call {
		 width: 24vh;
		 height: 8vh;
	 }

	 .btn-gallery {
		 width: 24vh;
		 height: 8vh;
	 }

	 	.container {
		display: flex;
		flex-wrap: wrap;
		align-item: baseline;
	}
	
	.profil {
		width: 30%;
	}
}


/* animasi */
@keyframes slide-in {
	0% {
		transform: translateX(100%);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes slide-out {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(100%);
	}
}

@keyframes img-front {
	0% {
		opacity: 0;
		transform: translateX(-80px);
	}

	100% {
		transform: translateX(0px);
		opacity: 100%;
	}
}

@keyframes img-back {
	0% {
		opacity: 0;
		transform: translateX(80px);
	}

	100% {
		transform: translateX(0px);
		opacity: 100%;
	}
}

/* Untuk Tablet */
@media(max-width: 1000px) {
    .top-wrapper h1{
      font-size:32px;
     }
     
  }
  /* Untuk Smartphone */
@media(max-width: 670px) {
    .header-right {
      display: none;
    }
    .top-wrapper h1{
        font-size:24px;
        line-height:36px;
      }
      .top-wrapper h2{
        font-size:14px;
        line-height:20px;
      }
      .top-wrapper{
        text-align:left
      }
}